[defaults]
host_key_checking = False
vault_password_file = ../../.ssh/priv/vault.pass
collections_path = ./collections:/usr/share/ansible/collections
roles_path = ./roles:./k8s/roles
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer

[callback_profile_tasks]
task_output_limit = 1000
sort_order = descending
