[Interface]
Address = {{ (wireguard_addresses | join(', ')) if wireguard_addresses | length > 0 else wireguard_address }}
PrivateKey = {{ wireguard_private_key }}
ListenPort = {{ wireguard_listen_port }}
MTU = {{ wireguard_mtu }}
{% if wireguard_ospf | default(false) %}
Table = off
{% endif %}
{% for peer in wireguard_peers if peer.source_address is defined or wireguard_ospf | default(false) %}
{% for allowed_ip in (peer.allowed_ips[:1] if wireguard_ospf | default(false) else peer.allowed_ips) %}
{% if peer.source_address is defined %}
PostUp = ip route replace {{ allowed_ip }} dev %i src {{ peer.source_address }}
{% else %}
PostUp = ip route replace {{ allowed_ip }} dev %i
{% endif %}
{% endfor %}
{% endfor %}

{% for peer in wireguard_peers %}
# {{ peer.name }}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips | join(', ') }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.persistent_keepalive | default(0) | int > 0 %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}
{% if not loop.last %}

{% endif %}
{% endfor %}
