[global]
listen-addr = {{ ip_address }}
port = 1701
ipsec saref = no
;debug tunnel = yes
;debug avp = yes
;debug packet = yes
;debug network = yes
;debug state = yes
auth file = /etc/ppp/chap-secrets

[lns default]
ip range = 10.{{ second_octet }}.{{ l2tp_octet }}.100-10.{{ second_octet }}.{{ l2tp_octet }}.199
local ip = 10.{{ second_octet }}.{{ l2tp_octet }}.1
refuse chap = yes
refuse pap = yes
require authentication = yes
ppp debug = yes
pppoptfile = /etc/ppp/options
length bit = yes
name = VPN
assign ip = yes
